<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employees Details</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Position</th>
    <th>Date of Birth</th>
    <th>Date of Start</th>
    <th>Phone Number</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <th>Edit Employee</th>
    <th>Delete Employee</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.position}"></td>
    <td th:text="${employee.dayOfBirth}"></td>
    <td th:text="${employee.dateOfStart}"></td>
    <td th:text="${contact.phoneNumber}"></td>
    <td th:text="${contact.street}"></td>
    <td th:text="${contact.city}"></td>
    <td th:text="${contact.country}"></td>
    <td><a th:href="@{|/employee/edit/${employee.id}|}">Edit</a></td>
    <td><a th:href="@{|/employee/delete/${employee.id}|}">DEL</a></td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Hours worked</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="shift : ${shifts}">
    <td th:text="${shift.date}"></td>
    <td th:text="${shift.start}"></td>
    <td th:text="${shift.end}"></td>
    <td th:text="${shift.hoursWorked}"></td>

  </tr>
  </tbody>
</table>
<a href="/">Back to list of all employees</a>
</body>
</html>