<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Employees</title>
</head>
<body>
<a href="/">Home</a>
<form action="/employee/search" method="post">
  <label for="search">Search Employee:</label>
  <input type="text" id="search" name ="keyword" placeholder="name or position">
  <button type="submit">Submit</button>
</form>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Shift Start</th>
    <th>Shift End</th>
    <th>Employees Details</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee : ${employees}">
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.position}"></td>
    <td th:if="${employee.atWork}">Employee is working!</td>
    <td th:unless="${employee.atWork}"><a th:href="@{|/employee/start/${employee.id}/|}">Shift Start</a></td>
    <td th:if="${employee.atWork}"><a th:href="@{|/employee/end/${employee.id}/|}">Shift End</a></td>
    <td th:unless="${employee.atWork}">Shift did not start yet!</td>
    <td><a th:href="@{|/employee/detail/${employee.id}|}">Employee Details</a></td>
  </tr>
  </tbody>
</table>
<a href="/employee/new/">Add new employee</a>
</body>
</html>