<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <title>Wage Calculator</title>
</head>
<body>
<a href="/">Home</a>

<form th:action="@{/wage/calculator/{employee_id}(employee_id=${employee})}" method="post">
  <label for="month">Select Month:</label>
  <select name="month" id="month">
    <option th:each="month : ${months}" th:text="${month}" th:value="${month}" ></option>
  </select>
  <label for="bonus">Bonus:</label>
  <input type="number" name="bonus" id="bonus" required="required">
  <br>
  <label for="kids">Kids:</label>
  <input type="number" name="kids" id="kids" required="required">
  <br>
  <label for="spouse">Spouse with yearly income < 68.000,- Kč</label>
  <input type="checkbox" id="spouse" name="spouse" value="true">
  <br>
  <label for="handicappedI">Handicapped cat. I</label>
  <input type="checkbox" id="handicappedI" name="handicappedI" value="true">
  <br>
  <label for="handicappedII_III">Handicapped cat. II - III</label>
  <input type="checkbox" id="handicappedII_III" name="handicappedII_III" value="true">
  <br>
  <label for="physicalDisability">Physical Disability</label>
  <input type="checkbox" id="physicalDisability" name="physicalDisability" value="true">
  <br>
  <label for="student">Student</label>
  <input type="checkbox" id="student" name="student" value="true">

  <button type="submit">Submit</button>
</form>
</body>
</html>